.board{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    /* background: greenyellow; */
    /* border: none; */
    /* grid-gap: 1rem; */
    align-items: center;
    margin: auto;
    grid-template-areas: 
    "zero one two"
    "three four five"
    "six seven eight";

}

h1{
    text-align: center;
}

.tttsquare{
    width: 15vw;
    height: 15vh;
    border: 3px solid black;
    background-color: pink;
    
    cursor: pointer;

}

.scoreboard{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    background-color: grey;
    width: fit-content;
    margin: auto;
    text-align: center;
    border: 2px solid black

}

.scoreboardinfo{
    width: 20vw;
    height: 10vh;
    background-color: purple;
    border: 3px solid blue;
}

button{
    display: block;
    width: 100%;
    height:100%;
    cursor:pointer;
    background-color: yellow;
}